@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

.full-width {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-weight: lighter;
  text-transform: uppercase;
}
